{% extends "index.html" %}
{% block content %}

<div class="container mt-5">
    <!-- Izbor podjetij -->
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0">2. Izbor podjetij</h2>
        </div>
        <div class="card-body">
            <!-- Navodila za izbor -->
            <section class="mb-1">
                <div class="list-group">
                    <div class="list-group-item">
                        <strong>Možnost A:</strong> Prvih 20 podjetij na seznamu.
                    </div>
                </div>
            </section>
            <!-- Utemeljitev izbire -->
            <br>
            <section>
                <h4 class="text-success">Utemeljitev izbire:</h4>
                <ul>
                    <li>
                        Prvih 20 podjetij na seznamu Fortune 500 predstavlja
                        globalno najbolj vplivna podjetja, ki so vodilna v svojih panogah. Njihov vpliv na svetovno
                        gospodarstvo je velik, kar omogoča izvedbo analize na podlagi pomembnih in aktualnih podatkov.
                    </li>
                    <hr class="my-3">
                    <li>
                        Izbrana podjetja pokrivajo različne industrije, vključno z
                        maloprodajo (Walmart, Amazon, Costco Wholesale), energijo (Saudi Aramco, Sinopec Group, Exxon
                        Mobil, Shell), zdravjem (UnitedHealth Group, CVS Health), tehnologijo (Apple, Alphabet),
                        avtomobilsko industrijo (Toyota Motor, Volkswagen) in gradbeništvom (China State Construction
                        Engineering). To omogoča bolj poglobljeno analizo, ki upošteva raznolikost panog.
                    </li>
                    <hr class="my-3">
                    <li>
                        Podjetja v tej skupini so pokazala izjemne finančne
                        rezultate in tržne inovacije v zadnjih letih. Njihova stabilnost in konkurenčnost so ključni za
                        pridobivanje vpogleda v tržne trende in odločitve na visoki ravni.
                    </li>
                    <hr class="my-3">
                    <li>
                        Podatki za prvih 20 podjetij so pogosto najbolj popolni,
                        zanesljivi in natančni. To omogoča kakovostno izvedbo večkriterijske analize brez tveganja
                        pomanjkljivih podatkov.
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock %}