{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <!-- Zaključek -->
    <div class="card shadow mb-4">
        <div class="card-header bg-warning text-white">
            <h2 class="mb-0">9. Zaključek</h2>
        </div>
        <div class="card-body">
            <!-- Ključne ugotovitve in vpogledi -->
            <section class="mb-4">
                <h4 class="text-warning">Ključne ugotovitve in vpogledi</h4>
                <p>
                    Sistem za podporo odločanju, ki sem ga razvil, ponuja dragoceno orodje za analizo in razvrščanje podjetij
                    na podlagi kriterijev in uteži. Ključne ugotovitve in vpogledi poudarjajo učinkovitost metod MCDA pri
                    zagotavljanju podatkovno podprtih odločitev. Sistem omogoča uporabnikom intuitivno izkušnjo, kar
                    pomaga sprejemati premišljene investicijske odločitve.
                </p>
            </section>
            <hr>
            <!-- Prednosti sistema -->
            <section class="mb-4">
                <h4 class="text-warning">Prednosti sistema</h4>
                <p>
                    Prednosti sistema vključujejo fleksibilnost, saj podpira več metod MCDA, kot so TOPSIS, PROMETHEE, VIKOR,
                    MACBETH in WSM. Omogoča primerjavo rezultatov teh metod ter prilagoditev uteži kriterijev, kar omogoča
                    uporabnikom prilagajanje analiz njihovim specifičnim potrebam. Poleg tega interaktivni grafi in vizualizacije
                    prispevajo k boljšemu razumevanju rezultatov.
                </p>
            </section>
            <hr>
            <!-- Omejitve sistema -->
            <section class="mb-4">
                <h4 class="text-warning">Omejitve sistema</h4>
                <p>
                    Kljub prednostim ima sistem nekatere omejitve. Najpomembnejša je odvisnost od točnosti in razpoložljivosti
                    vhodnih podatkov. Trenutno temelji na statičnih podatkih, kar omejuje njegovo uporabo v dinamičnih
                    okoljih. Rezultati so prav tako občutljivi na uteži kriterijev, kar zahteva od uporabnikov razumevanje
                    vpliva uteži na končne rezultate.
                </p>
            </section>
            <hr>
            <!-- Možnosti izboljšav -->
            <section>
                <h4 class="text-warning">Možnosti za prihodnje izboljšave</h4>
                <p>
                    V prihodnosti bi sistem lahko vključili v podatke v realnem času prek API-jev, kar bi povečalo njegovo
                    aktualnost in uporabnost. Poleg tega bi lahko razširili nabor metod MCDA in omogočili večjo prilagodljivost analitičnih orodij.
                </p>
                <hr class="my-3">
                <p>
                    Na splošno je sistem robustna platforma za večkriterijsko odločanje, ki ima velik potencial za nadaljnjo
                    rast in izboljšave, s čimer bi postal nepogrešljivo orodje strokovnjakom v finančnem svetu in drugih
                    panogah.
                </p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
