{% extends "analysis.html" %}
{% block analysis_content %}
<h1>Izbor podjetij in metode</h1>
<form class="row" method="POST" action="{{ url_for('methods.methods') }}" id="methodsForm">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <!-- Izbira podjetij ✅ -->
    <h6>Izberite podjetja, ki jih želite vključiti v analizo (vsaj 3):</h6>
    {% for comp in companies %}
    <div class="form-check">
      <!-- Če comp.include_to_analysis je True, vnaprej obkljukaj -->
      <input class="form-check-input company-checkbox" type="checkbox" name="selected_companies" value="{{ comp._id }}"
        id="comp_{{ comp._id }}" {% if comp.include_to_analysis %} checked {% endif %}>
      <label class="form-check-label" for="comp_{{ comp._id }}">
        {{ comp['Ime podjetja'] }}
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <!-- Izbira metode MCDA -->
    <h4>Izberite metodo MCDA:</h4>
    <select name="method" class="form-select" style="max-width: 300px;">
      <option value="TOPSIS">TOPSIS</option>
      <option value="PROMETHEE">PROMETHEE</option>
      <option value="WSM">WSM</option>
      <option value="VIKOR">VIKOR</option>
      <option value="MACBETH">MACBETH</option>
    </select>
    <br>
    <br>
    <h4 for="analysis_name" class="form-label">Ime analize:</h4>
    <input required type="text" class="form-control" id="analysis_name" name="analysis_name" style="max-width: 300px;">
  </div>
  <!-- Gumb za oddajo -->
  <button type="submit" class="btn btn-primary" id="analyzeBtn" disabled>Izvedi analizo</button>
</form>


<script>
  // Preverjanje vsaj 3 izbranih podjetij (checkbox)
  const checkboxes = document.querySelectorAll('.company-checkbox');
  const analyzeBtn = document.getElementById('analyzeBtn');

  function updateCheckboxCount() {
    let count = 0;
    checkboxes.forEach(chk => {
      if (chk.checked) {
        count++;
      }
    });
    analyzeBtn.disabled = (count < 3);
  }

  checkboxes.forEach(chk => {
    chk.addEventListener('change', updateCheckboxCount);
  });

  // Po nalaganju strani
  updateCheckboxCount();
</script>
{% endblock %}